
.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999999; /* light gray color */
  font-size: 28px; /* set font size to match "mat-headline-2" */
  width: 48px; /* adjust the width as needed */
  height: 48px; /* adjust the height as needed */
  font-family: "Roboto", "Helvetica Neue", sans-serif; /* match "mat-headline-2" font */
  font-weight: 500; /* match "mat-headline-2" font weight */
}
