html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
  /* min-height: 100%; */
}

body {
  min-height: 100%;
}

.clickable:hover {
  cursor: pointer;
}

.earnings-box {
  width: 25px; /* Set the width of the box */
  height: 25px; /* Set the height to make it square */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 3px solid green; /* Add a black border */
  font-size: 16px; /* Size of the letter */
  font-weight: bold; /* Make the letter bold */
  background-color: white;
  color: green;
}

.earnings-box:hover {
  cursor: pointer;
  background-color: #e4f0e4;
}
