
<h2>Financial Data Submissions</h2>

<submissions-filters (onFiltersChanged)="filtersChanged($event)"></submissions-filters>

<a mat-raised-button (click)="navigateToFinancials()" style="margin-top: 1rem" [disabled]="selection.selected.length == 0">View Financial Data</a>

<mat-table class="mat-elevation-z8" [dataSource]="dataSource" style="margin-top: 1rem">
           <!-- matSort matSortActive="creation" matSortDirection="desc" matSortDisableClear> -->

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adsh">
      <mat-header-cell *matHeaderCellDef mat-sort-header class='left'>adsh</mat-header-cell>
      <mat-cell *matCellDef="let sub" class='left'> {{ sub.adsh }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cik">
      <mat-header-cell *matHeaderCellDef mat-sort-header>cik</mat-header-cell>
      <mat-cell *matCellDef="let sub"> {{ sub.cik }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let sub"> {{ sub.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fy">
      <mat-header-cell *matHeaderCellDef>Fiscal Year Ending</mat-header-cell>
      <mat-cell *matCellDef="let sub">{{ getFiscalYearFormatted(sub) | date:'mediumDate' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="form">
      <mat-header-cell *matHeaderCellDef>Form</mat-header-cell>
      <mat-cell *matCellDef="let sub"> {{ sub.form }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="period">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Period</mat-header-cell>
      <mat-cell *matCellDef="let sub"> {{ sub.period }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="filed">
      <mat-header-cell *matHeaderCellDef>Filed</mat-header-cell>
      <mat-cell fxFlex *matCellDef="let sub"> {{ sub.filed }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accepted">
      <mat-header-cell *matHeaderCellDef>Accepted</mat-header-cell>
      <mat-cell fxFlex *matCellDef="let sub"> {{ sub.accepted }} </mat-cell>
    </ng-container>
</mat-table>
