<div fxLayout="row" style="width: 100%" fxLayoutGap="1em" fxLayoutAlign="start center">
  <div class="mat-headline-6" style="color: gray;">Search Submissions:</div>

  <form [formGroup]='filtersForm' formstore="submissions" fxLayout="row" fxLayoutGap="1em" style="width: 100%">
    <mat-form-field appearance="outline" style="width: 60%">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName='nameSelection'>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 40%">
      <mat-label>Form <div class="mat-small" style="display: inline;">(Comma-separated list)</div></mat-label>
      <input type="text" matInput formControlName='formSelection'>
    </mat-form-field>
  </form>

</div>