<h2>Watchlist</h2>

<button mat-fab color="primary" (click)="add()" matTooltip="Add stock to watchlist"><mat-icon>add</mat-icon></button>

<mat-table class="mat-elevation-z8" [dataSource]="dataSource" style="margin-top: 1rem">

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let item"> <a [routerLink]="['/submissions', item.watchlist.name]" style="text-decoration: none; color: black;">{{ item.watchlist.name }}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="countFilings">
    <mat-header-cell *matHeaderCellDef mat-sort-header class='left'>Number of filings</mat-header-cell>
    <mat-cell *matCellDef="let item" class='left' [matTooltip]="submissionsTooltip(item.submissions)"> {{ item.watchlist.adsh.length }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell fxFlex *matCellDef="let item">
      <button mat-icon-button color="primary" (click)='navigateToFinancials(item.watchlist)' matTooltip="Show financials"><mat-icon>remove_red_eye</mat-icon></button>
      <button mat-icon-button color="warn" (click)='delete(item.watchlist.name)' matTooltip="Delete"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>
</mat-table>
