<div fxFlex="60%" fxFlex.lt-lg="90%" fxLayout="column" fxLayoutAlign="start center" style="margin: 0 auto">
  <h2 class="mat-headline-2" style="text-align: center;">Company Research Platform</h2>

  <div fxLayout="row" fxLayoutGap="1em" style="margin-left: auto">
    <mat-form-field appearance="outline">
      <mat-label>Company Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <button mat-stroked-button style="color: gray" (click)="addCompany()"><mat-icon>add_box</mat-icon>Add Company</button>
  </div>

  <mat-table [dataSource]="dataSource">

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell fxFlex *matCellDef="let item">
        <a mat-icon-button [routerLink]="['/analysis', item.name, 'profile']" style="color: gray" matTooltip="Company profile"><mat-icon>verified_user</mat-icon></a>
        <a mat-icon-button [routerLink]="['/submissions']" style="color: gray" matTooltip="Gather financial data"><mat-icon>account_balance</mat-icon></a>
        <button mat-icon-button style="color: gray" matTooltip="Quick check financial data"><mat-icon>search</mat-icon></button>
        <button mat-icon-button style="color: gray" (click)='deleteCompany(item)' matTooltip="Delete"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>